body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.loading{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: rgb(168, 168, 168);
}
.loading span{
    width: 100px;
    height: 100px;
    position: absolute;
    animation: square 2.5s infinite;
}

.loading span:nth-child(1){

}

.loading span:nth-child(2){

    animation-delay: 1.2s;
}
@keyframes square{
    0%{
        background-color:red;
        top: 0;
        left: 0;

    }
    25%{
        background-color:rgb(184, 124, 124);
        top: 0;
        left: calc(100% - 100px);
    }
    50%{
        background-color:rgb(82, 15, 15);
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }
    75%{
        background-color:rgb(236, 70, 70);
        left: 0;
        top: calc(100% - 100px);
    }
    100%{
        background-color:rgb(255, 175, 175);
        top: 0;
        left: 0;
    }
}