body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.gallery{
    display: flex;
    flex: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.gallery li{
    flex: 1;
    border-right: 5px solid plum;

}
.gallery li:first-child{
    border-left: 5px solid plum ;
}
.gallery li:nth-child(1){background: url('/accodian/images/hanzo.jpg') no-repeat;
    background-size: cover;

}
.gallery li:nth-child(2){background: url('/accodian/images/hanzo.jpg') no-repeat;
    background-size: cover;

}
.gallery li:nth-child(3){background: url('/accodian/images/hanzo.jpg') no-repeat;
    background-size: cover;

}
.gallery li:nth-child(4){background: url('/accodian/images/hanzo.jpg') no-repeat;
    background-size: cover;

}
.gallery li:nth-child(5){background: url('/accodian/images/hanzo.jpg') no-repeat;
    background-size: cover;

}

.gallery li:hover{
    flex:3;
    filter:grayscale(1);
    transition: 2s;
}